In [33]:
#importing librarires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

In [34]:
#reading dataset
df = pd.read_csv('survey_rating.csv')
df

     Olympics 2016  FIFA 2018  Olympics 2020  FIFA 2022
0                2          3              3          4
1                0          0              0          0
2                2          4              3          5
3                0          0              1          1
4                0          0              0          0
..             ...        ...            ...        ...
98               1          1              1          2
99               0          0              2          3
100              2          3              1          4
101              2          0              3          0
102              3          4              4          4

[103 rows x 4 columns]

In [35]:
#adding new columns
df['pre_pandemic_mean'] = (df['Olympics 2016']+df['FIFA 2018'])/2
df['post_pandemic_mean'] = (df['Olympics 2020']+df['FIFA 2022'])/2
df.head()

,Olympics 2016,FIFA 2018,Olympics 2020,FIFA 2022,pre_pandemic_mean,post_pandemic_mean
0,2,3,3,4,2.5,3.5
1,0,0,0,0,0.0,0.0
2,2,4,3,5,3.0,4.0
3,0,0,1,1,0.0,1.0
4,0,0,0,0,0.0,0.0

Hypothesis Testing (Two Sample t-Test)

Null Hypothesis: There is no significant difference between how closely sport events were followed before and after the COVID-19 pandemic

Alternate Hypothesis: There is significant difference between how closely sport events were followed before and after the COVID-19 pandemic

In [36]:
pre_pandemic_scores = np.array(df['pre_pandemic_mean'])
post_pandemic_scores = np.array(df['post_pandemic_mean'])

In [37]:
t_statistic, p_value = ttest_ind(pre_pandemic_scores, post_pandemic_scores, equal_var=False)

In [38]:
alpha = 0.05
print("t-statistic: {:.2f}".format(t_statistic))
print("p-value: {:.4f}".format(p_value))

t-statistic: -4.08
p-value: 0.0001

In [39]:
if p_value < alpha:
    print("P-Value is {:.4f}".format(p_value), "\nNULL HYPOTHESIS REJECTED \nThere is a significant difference between how closely sport events were followed before and after the COVID-19 pandemic")
else:
    print("P-Value is {:.4f}".format(p_value), "\nNULL HYPOThere is no significant difference between how closely sport events were followed before and after the COVID-19 pandemic")

P-Value is 0.0001
NULL HYPOTHESIS REJECTED
There is a significant difference between how closely sport events were followed before and after the COVID-19 pandemic

Finding Cohen's D value


First Sample is post-pandemic rating and Second Sample is pre-pandemic rating.

Therefore a positive value would mean that the most followed sporting events were followed more during the pandemic than before the pandemic and vice-versa

In [40]:
mean1, mean2 = np.mean(post_pandemic_scores), np.mean(pre_pandemic_scores)
pooled_std = np.sqrt((np.std(post_pandemic_scores)**2 + np.std(pre_pandemic_scores)**2) / 2)
cohens_d = (mean1 - mean2) / pooled_std
if cohens_d > 0:
    print("Cohen's D Value: ",  cohens_d, "\nTherefore the most followed sporting events were followed more during the pandemic than before the pandemic")
else:
     print("Cohen's D Value: ",  cohens_d, "\nTherefore the most followed sporting events were followed less during the pandemic than before the pandemic")

Cohen's D Value:  0.5717829567135929
Therefore the most followed sporting events were followed more during the pandemic than before the pandemic

---------------------------------------------------------------------------------------------------------------------

Hypothesis Testing (Paired t-Test)

Null Hypothesis: There is no significant difference between how closely sport events were followed before and after the COVID-19 pandemic

Alternate Hypothesis: There is significant difference between how closely sport events were followed before and after the COVID-19 pandemic

In [41]:
scores =  [pre_pandemic_scores, post_pandemic_scores]

In [42]:
pt_statistic, pt_p_value = ttest_rel(scores[0], scores[1])

In [43]:
print("t-statistic: {:.2f}".format(pt_statistic))
print("p-value: {:.9f}".format(pt_p_value))

t-statistic: -6.61
p-value: 0.000000002

In [44]:
if p_value < alpha:
    print("P-Value is {:.9f}".format(pt_p_value), "\nNULL HYPOTHESIS REJECTED \nThere is a significant difference between how closely sport events were followed before and after the COVID-19 pandemic")
else:
    print("P-Value is {:.9f}".format(pt_p_value), "\nNULL HYPOThere is no significant difference between how closely sport events were followed before and after the COVID-19 pandemic")

P-Value is 0.000000002
NULL HYPOTHESIS REJECTED
There is a significant difference between how closely sport events were followed before and after the COVID-19 pandemic

Cohens_D Value

In [45]:
mean1, mean2 = np.mean(scores[1]), np.mean(scores[0])
pooled_std = np.sqrt((np.std(scores[1])**2 + np.std(scores[0])**2) / 2)
cohens_d = (mean1 - mean2) / pooled_std
cohens_d

0.5717829567135929

Since it is positive, it means viewership during pandemic was more than pre pandemic times. And since the value is around 0.5, the effect on viewership is medium